# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
capstone notion/Re Coded Coding Capstone Projects Resources 44858f78e9914a728fb35356bf7352eb/What excellence looks like 5d71641fa7d544bcbef89d00cb617b97/Communication 0442b1df479d41aeba7413896bfae222.html
capstone notion/Re Coded Coding Capstone Projects Resources 44858f78e9914a728fb35356bf7352eb/What excellence looks like 5d71641fa7d544bcbef89d00cb617b97/Participation deb36b56bd4544928d677e587ee32fd4.html
capstone notion/Re Coded Coding Capstone Projects Resources 44858f78e9914a728fb35356bf7352eb/What excellence looks like 5d71641fa7d544bcbef89d00cb617b97/Teamwork 4432b75f0ac14899b0f4a1574224a328.html
capstone notion/Re Coded Coding Capstone Projects Resources 44858f78e9914a728fb35356bf7352eb/What excellence looks like 5d71641fa7d544bcbef89d00cb617b97/Technical skills 9d0f212e837444ae929a54cf99b29e85.html
